
.mobile-nav{
    display:none
}

@media screen and (max-width: 1024px){

    .main{
        font-size:14px;
        line-height: 20px;
    }

    .main .content{
        padding:0 0 60px 0;
    }

    .mobile-nav{
        cursor:pointer;
        border-top: 1px solid whitesmoke;
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: space-around;
        background-color: var(--color-yellow);
        width: 100%;
        height: 60px;
        font-weight: normal;
        z-index:10;
        color: var(--color-brown);
    }

    .mobile-nav #icon{
        color: var(--color-brown);
    }

    .mobile-nav-menu{
        width:25%;
        text-align:center;
        ;
        color:var(--color-dark-blue);
        text-decoration:none;
    }
    .mobile-nav-menu:hover{
        color:var(--color-dark-blue);
    }
    .mobile-nav-menu > p{
        margin: 1px 0 0 0;
        color:var(--color-dark-grey);
        ;
    }
    .mobile-nav-icon{
        width:25px;
    }

    aside{
        display:none;
    }

    .show-search-result{
        padding: 70px 0 80px 0;
    }

    .show-search-result span:first-child{
        margin-left:15px;
    }

    .search-input-container{
        padding:0;
        height:50px;
    }

    .search input{
        height:30px;
    }

    .search-icon{
        height:30px;
    }

    .book-list li p{
        display:-webkit-box; 
        word-wrap:break-word; 
        -webkit-line-clamp:1; 
        -webkit-box-orient:vertical; 
        overflow:hidden; 
        text-overflow:ellipsis;
    }

    .modal .close svg{
        height:1.5em;
    }

    .modal .content-wrapper{
        min-width:100%;
        height:100%;
        position:static;
        left:0;
        top:0;
        transform:none;
        border-radius:0;
        padding: 30px 0 100px 0;
        overflow:auto;
        
    }

    .information section:first-child{
        padding:0;
        margin: 30px 0 0 0;
    }

    .content-wrapper .title{
        padding:15px;
        width:100%;
        position:fixed;
        top:0;
        background-color:white;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 5px;
    }

    .content-wrapper img{
        min-width:100px;
    }

    .content-wrapper .information{
        padding:30px 15px 0 15px;
        flex-direction:column;
    }

    .information section:last-child #contents{
        -webkit-line-clamp: 2;
    }

    .save-contents{
        padding:0 10px 0px 10px;
    }

    .selected-display{
        padding:0 10px 10px 10px;
    }

    .selected-display .button-container{
        width:100%;
        box-shadow: rgba(0, 0, 0, 0.05) 5px 3px 6px 5px;
        border-radius:0;
        padding:0;
        margin:0;
        position:fixed;
        right:0;
        bottom:0;
        background-color:white;
        padding:10px;
    }

    .option-button-container span{
        display:flex;
        flex-direction:column;
        align-items: center;
    }   

    .sub-sidebar-container{
        width:100%;
    }

    .history, .library{
        height: fit-content;
    }

    .library .before-search{
        display:none;
    }

    .saved-book-list .before-search{
        display:flex;
    }
    
    .hide{
        display:none;
    }

    .history{
        min-width:100%;
        padding:10px;
    }
    .react-calendar{
        padding:10px;
    }

    .calendar-view{
        margin-bottom:30px;
    }

    .day-read-book{
        padding: 30px 0 0 0;
    }

    .day-read-book ul{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        padding:0;
    }

    .day-read-book #item {
        display: inline-block;
        margin: 0px;
    }

    .day-read-book img{
        margin:10px;
        width:100px;
    }
}