/*책 리스트*/
.book-list{
  width:100%;
  list-style:none;
  text-align:left;
  margin:0;
  padding:0;
  color:var(--color-black)
}

.book-list li{
  overflow: scroll;
  cursor:pointer;
  display:flex;
  padding: 30px 20px 30px 20px;
  border-bottom:1px solid lightgrey;
  max-height:250px;
}

.book-list li:hover{
  opacity:0.7;
}

.book-list li div {
  margin-left:30px;
  min-width:0;
}

.book-list p{
  margin:2px;
}

.book-list .title{
  font-weight:bold;
  font-size:16px;
  margin-bottom:5px;
}

.book-list .authors, .book-list .infos{
  font-size:14px;
  color:grey;
}

.book-list .contents{
  margin-top:5px;
  line-height:30px;
  display:-webkit-box; 
  word-wrap:break-word; 
  -webkit-line-clamp:3; 
  -webkit-box-orient:vertical; 
  overflow:hidden; 
  text-overflow:ellipsis;
}


.content-container{
  display:flex;
}

.book-info img{
  width:200px;
}

.book-info .title{
  display:flex;
  color:var(--color-black);
  font-weight:bold;
  font-size:30px;
  padding: 30px 20px 0px 30px;
  text-align:left;
  word-break:keep-all;
}

.content-wrapper .title span{
  display:-webkit-box; 
  word-wrap:break-word; 
}

.book-info .close{
  margin-left:auto;
  background-color:transparent;
  border : none;
  color:var(--color-hotpink);
  height:100%;
  width:60px;
}

.book-info .close:hover{
  transform:scale(1.2)
}

.book-info .information{
  padding: 40px 35px 10px 35px;
  display:flex;
  color:var(--color-black)
}

.book-info img{
  border: 1px solid whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.information section:first-child{
  padding-right:50px;
  text-align:center;
  font-size:16px;
}

.information section:first-child p{
  margin-top:10px;
  font-weight: bold;
  word-wrap:break-word; 
}

.information section:last-child{
  font-size:16px;
}

.information section:last-child p:first-child{
  font-size:20px;
  font-weight: bold;
}

.information section:last-child #contents{
  line-height:30px;
  display:-webkit-box; 
  word-wrap:break-word; 
  -webkit-line-clamp:8; 
  -webkit-box-orient:vertical; 
  overflow:hidden; 
  text-overflow:ellipsis;
}

#link{
  color:var(--color-blue);
  text-decoration:none;
  font-size:16px;
}

#link:hover{
  font-weight:bold;
}


.book-info .information{
  text-align:left;
}


/*BookSave*/
.save-contents{
  padding: 20px 30px 30px 30px;
}
.button-container{
  display:flex;
  font-size:16px;
  border-radius:10px;
  color:var(--color-black);
  justify-content:center;
  padding: 0 15px 10px 25px;
}

.button-container button{
  width:150px;
  margin-right:10px;
  height:50px;
  border:none;
  background-color:whitesmoke;
  border-radius:10px;
  color:var(--color-black);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.button-container button:hover{
  opacity:0.8
}

#icon{
  padding-right:5px;
  color:var(--color-hotpink)
}

.button-container .active{
    background-color:var(--color-hotpink);
    color:white;
}

.button-container .active #icon{
  color:white;
}

.selected-display{
  padding:0px 30px 10px 30px;
  text-align:left;
  font-size:16px;
  color:var(--color-black);
  display:flex;
  flex-direction: column;
}

.selected-display .button-container{
  display:flex;
  justify-content: right;
  padding:0;
  margin:30px 0 0 0;
}

.selected-display button{
  border-radius:5px;
  border: none;
  width:200px;
  height: 50px;
  background-color: var(--color-blue);
  color:white;
  font-weight: bold;
  font-size: 18px;
  margin:0 0 0 6px;
}

.selected-display .delete{
  background-color: slategrey;
}

.selected-display button:hover{
  opacity:0.9
}

.selected-display #option-saved{
  background-color: whitesmoke;
}

.option-container{
  display:flex;
  height:45px;
  align-items: center;
  border : 1px solid #E9E9E9;
  border-radius:5px;
  margin-bottom:10px;
  padding : 5px 15px 5px 15px;
}

.option-container #view{
  color:var(--color-black);
  font-weight:normal;
}


.option-container input{
  padding:0 !important;
  margin:0 !important;
  font-size:14px;
  width: 100%;
  height: 40px !important;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--color-black);
}

form p{
  margin-top:20px;
  font-weight:bold;
  margin-bottom:10px;
  display:inline-block;
}

form #icon{
  color:var(--color-black);
}


form span {
  margin-right:20px;
  color: var(--color-blue);
  font-weight: bold;
  font-size:14px;
}


@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }