.modal {
    display:block;
    z-index:10;
    animation : fadein 0.5s forwards;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.4);
}
  
  
.content-wrapper {
    display:block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    font-size:1.5vh;
    border-radius:10px;
    text-align:center;
    width:100%;
    max-width:800px;
    max-height:100%;
    overflow:scroll;
}

.hide{
    display:none;
}